html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 3em;
}

.watch{
    display: inline;
    margin-left:30px;
}
/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    background: #02b3e4;
    cursor: default;
    transition: 0.5s;
}

.deck .card.close{
    cursor: default;
    font-size: 33px;
    background:  #ff6666;
    animation: closed 0.5s;
}

@keyframes closed{
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
      }
      
      20%, 80% {
        transform: translate3d(2px, 0, 0);
      }
    
      30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
      }
    
      40%, 60% {
        transform: translate3d(4px, 0, 0);
      }
    }

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
    animation: closed 0.5s;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
    font-size: 1.5em;
    font-family: 'Pacifico', cursive;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}


/* Modal to show results */

#results{
  display:none;
  width:100%;
  height:100vh;
  background:grey;
  opacity:0.9;
  position:fixed;
  top:0;
  left:0;
  overflow:auto;
}

/* cross to close modal */
.cross{
    position:absolute;
    right:30px;
    top:10px;
    font-size:30px;
    font-weight:bold;
    font-variant:small-caps;
    font-size:30px;
 }

 .cross:hover{
    cursor:pointer;
    color:red
}

/* box with results */
  .modal-content{
    margin:5% auto;
    background:#F8F8F8;
    width:50%;
  }

  .animate{
    animation:aparecer 1s;
  }

  @keyframes aparecer{
    from{
      transform: scale(0);
    }
    to{
      transform: scale(1);
    }
  }

/* Css container text */
.container{
    padding:16px;
  }

/* text container */
.congrat{
    font-size:30px;
    color:black;
}

/* clearfix and style for button */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.playAgain{
    background: green;
    float:left;
    width:100%;
    height:40px;
    border:none;
    opacity:0.8;
    color:white;
    font-weight:bold;
    border-radius: 10px;
}


.playAgain:hover{
    cursor:pointer;
    opacity:1;
  }
